.card {
    position: relative;
    height: 254px;
    width: 328px;
    border-radius: 10px;
    padding: 20px;
    background: #ffffff;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 344px;
    }
    @media screen and (min-width: 1024px) {
        width: 282px;
    }
    @media screen and (min-width: 1280px) {
        width: 370px;
    }
}

.thumb {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    margin-bottom: 20px;
}

.email {
    text-decoration: none;
    color: inherit;
}

.helper {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    max-width: 100%;
    padding: 3px 16px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
    overflow-wrap: break-word;
}
.isHidden {
    display: none;
}
