.form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    @media screen and (min-width: 768px) {
        width: 380px;
        margin-right: auto;
        margin-left: auto;
    }
}

.textInput {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 50px;
    background-color: inherit;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
}

.phoneInput {
    @extend .textInput;
    position: relative;
    margin-bottom: 4px;
}
.phoneLabel {
    margin-bottom: 25px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.17;
    color: #7e7e7e;
}

.radioInput {
    appearance: none;
    margin-right: 12px;
    height: 20px;
    width: 20px;
    border: 1px solid #d0cfcf;
    border-radius: 50%;
    transform: translateY(20%);

    &:checked {
        border-color: #00bdd3;
        background: radial-gradient(
            circle,
            rgba(0, 189, 211, 1) 5px,
            rgba(248, 248, 248, 1) 0px
        );
    }
}

.radioLabel {
    margin-bottom: 7px;
}

input[type='file'] {
    display: none;
}
.uploadButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 14px 15px;

    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0px 0px 4px;
    color: rgba(0, 0, 0, 0.87);
}

.uploadField {
    position: relative;
    width: 100%;
    height: 54px;
    padding: 14px 14px 14px 99px;
    margin-top: 47px;
    margin-bottom: 50px;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    color: #7e7e7e;
}

.uploadFieldActive {
    @extend .uploadField;
    color: rgba(0, 0, 0, 0.87);
}

.button {
    margin-left: auto;
    margin-right: auto;
}
