.form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    @media screen and (min-width: 768px) {
        width: 380px;
        margin-right: auto;
        margin-left: auto;
    }
}

// custom radio buttons
.radioInput {
    appearance: none;
    margin-right: 12px;
    height: 20px;
    width: 20px;
    border: 1px solid #d0cfcf;
    border-radius: 50%;
    transform: translateY(20%);

    &:checked {
        border-color: #00bdd3;
        background: radial-gradient(
            circle,
            rgba(0, 189, 211, 1) 5px,
            rgba(248, 248, 248, 1) 0px
        );
    }
}

.radioLabel {
    margin-bottom: 7px;
}

// custom file input
input[type='file'] {
    display: none;
}
.uploadButton {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 104%;
    padding: 14px 15px;

    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0px 0px 4px;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;

    transition: box-shadow 300ms linear;

    &:hover {
        box-shadow: inset 2px 2px 10px -5px rgba(0, 0, 0, 0.75);
    }
}
.uploadButtonError {
    @extend .uploadButton;
    top: -2px;
    left: -2px;
    height: 108%;
    border: 2px solid #cb3d40;
}

.uploadField {
    position: relative;
    width: 100%;
    height: 54px;
    padding: 14px 14px 14px 99px;
    margin-top: 47px;
    margin-bottom: 50px;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    color: #7e7e7e;
}

.uploadFieldError {
    @extend .uploadField;
    border: 2px solid #cb3d40;
}

.uploadText {
    color: #7e7e7e;
}
.uploadTextActive {
    color: rgba(0, 0, 0, 0.87);
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 16px;
    font-size: 12px;
    line-height: 1.17;
    color: #cb3d40;
}

.button {
    margin-left: auto;
    margin-right: auto;
}
